In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('gifts.csv')
df

       GiftId   Latitude   Longitude     Weight
0           1  16.345769    6.303545   1.000000
1           2  12.494749   28.626396  15.524480
2           3  27.794615   60.032495   8.058499
3           4  44.426992  110.114216   1.000000
4           5 -69.854088   87.946878  25.088892
...       ...        ...         ...        ...
99995   99996 -86.087115  -19.991474  10.927676
99996   99997  40.259124 -110.689749   9.347134
99997   99998  42.393016    0.011825   1.000000
99998   99999 -75.919193  -10.193532   1.000000
99999  100000  11.106159   40.230236   1.000000

[100000 rows x 4 columns]